<!doctype html>
<html lang="fr">
	<head>
		<title>@title</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="icon" href="@assets/favicon.ico">
		
		<link href="@assets/css/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li>
						<a href="@base">
							Index
						</a>
					</li>
				</ul>
			</nav>
		</header>

		//@ comment
		@block content

		<footer>
			&copy; Thiphariel - 2013. Enlightened with Light.
		</footer>
	</body>
</html>